.progress-bar-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    flex-wrap: wrap;
}
.skills-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 2rem;
}
/* Media queries */
@media only screen and (max-width: 769px) {
    .skill-text > h2{
        font-size: 18px;
    }
}
@media only screen and (max-width: 426px) {
    .skill-text > h2{
        font-size: 14px;
    }
}